PORT=5001
MONGODB_URI=mongodb+srv://Huy_admin:m2wP9wqwsqVzLyzG@db.bp7ko9r.mongodb.net/?appName=DB
JWT_SECRET=your_jwt_secret_change_in_production
JWT_EXPIRES_IN=7d

# Cloudinary (upload video/tài liệu SCORM)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
